/* .Person {
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
} */